<div class="authorize">
    <div class="authorize__content">
        <div class="authorize__picture">
            <div class="authorize__img"></div>
        </div>
        <div class="authorize__header">Авторизация</div>
        <div class="authorize__description">Введите пожалуйста своё фио и ник для дальнейшей авторизации</div>
        <form class="authorize__form" method="post">
            <input type="text" class="authorize__input" name="name" required placeholder="Введите свое имя">
            <input type="text" class="authorize__input" name="nik" required placeholder="Введите свой ник">
            <button type="submit" class="authorize__button">Войти</button>
        </form>
    </div>
</div>