<div class="chat__item" data-nik="{{nik}}">
    <div class="chat__ico"></div>
    <div class="chat__message">
        <div class="chat__name">{{fio}}</div>
        <div class="chat__text">{{text}}</div>
    </div>
</div>