<div class="chat" style="display:none;">
    <div class="chat__header">
        <div class="chat__controls">
            <div class="chat__open"></div>
            <div class="chat__close"></div>
        </div>
    </div>
    <div class="chat__body">
        <div class="chat__left">
            <div class="chat__search">
                <div class="hamburger"></div>
                <input class="chat__input" type="search" name="" id="" placeholder="Найти...">
            </div>
            <div class="chat__list">
            </div>
        </div>
        <div class="chat__right">
            <div class="chat__title">
                <div class="chat__chat">Чат</div>
                <div class="chat__count"><span class="chat__number">0</span> участника</div>
            </div>
            <div class="chat__window">
            </div>
            <form class="message" method="post">
                <input class="message__field" name="message" required placeholder="Введите сообщение...">
                <button class="message__send">Отправить</button>
            </form>
        </div>
    </div>
</div>
<div class="imageLoad" style="display:none;">
    <div class="container">
        <div class="row">
            <label>Загрузить фото:</label>
            <input type="file" id="file" name="file" />
        </div>
        <div class="row">
            <span id="output"></span>
        </div>
    </div>
</div>
</div>