<div class="chat__item">
    <div class="chat__ico"><img src="https://zenit.org/wp-content/uploads/2018/05/no-image-icon.png"></div>
    <div class="chat__message">
        <div class="chat__name">{{fio}}</div>
        <div class="chat__text">{{text}}</div>
    </div>
</div>