<div class="chat__item left" data-nik="{{nik}}">
<div class="chat__message">
    <div class="chat__img"></div>
    <div class="chat__messageItem">
        <div class="chat__text">{{text}}</div>
        <div class="chat__time">{{time}}</div>
    </div>
</div>
</div>