body {
    background-color: #09101a;
}

.authorize {
    width: 516px;
    height: 552px;
    background-color: #17212b;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -255px;
}

.authorize__content {
    display: flex;
    flex-direction: column;
    margin: 40px;
    align-items: center;
}

.authorize__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authorize__picture {
    width: 139px;
    height: 139px;
    background-color: #242f3d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authorize__img {
    width: 85px;
    height: 66px;
    background: url('./images/communikation.png');
}

.authorize__header {
    width: 152px;
    height: 22px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 16px;
}

.authorize__description {
    width: 298px;
    height: 35px;
    color: #7f91a4;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.authorize__input {
    border: none;
    background-color: #17212b;
    color: #e5e5e5;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 298px;
    height: 60px;
    border-bottom: 1px solid #465362;
    outline: none;
}

.authorize__button {
    width: 132px;
    height: 43px;
    background-color: #5288c1;
    color: white;
    border: none;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 40px;
}

.chat {
    width: 810px;
    height: 452px;
    background-color: #17212b;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -275px 0 0 -405px;
    overflow: hidden;
}

.chat__body {
    display: flex;
}

.chat__header {
    height: 22px;
    background-color: #242f3d;
}

.chat__left {
    width: 261px;
    height: 430px;
    border: 1px solid #101921;
    border-top: none;
    background-color: #17212b;
}

.chat__right {
    width: 547px;
    background-color: #09101a;
}

.chat__search {
    margin: 15px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.chat__input {
    border: none;
    width: 195px;
    height: 32px;
    background-color: #242f3d;
    color: #6d7883;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    outline: none;
    text-indent: 1em
}

.hamburger {
    background: url('./images/burger.png');
    width: 18px;
    height: 12px;
}

.chat__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__ico {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.chat__ico img {
    width: 100%;
    height: 100%;
}

.chat__name {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.chat__text {
    color: #7f91a4;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.chat__item {
    display: flex;
    margin-bottom: 10px;
}

.chat__message {
    width: 140px;
}

.chat__title {
    height: 67px;
    border: 1px solid #101921;
    background-color: #17212b;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border-top: none;
    border-left: none;
}

.chat__chat {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
}

.chat__count {
    color: #7f91a4;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px
}

.message {
    height: 110px;
    background-color: #17212b;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.chat__hide {
    background: url('./images/minus.png');
    width: 10px;
    height: 10px;
}

.message__field {
    border: none;
    width: 195px;
    height: 32px;
    background-color: #17212b;
    color: #6d7883;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    outline: none;
    text-indent: 1em;
    margin-top: 10px;
}

.message__send {
    margin-top: 10px;
    width: 122px;
    height: 33px;
    background-color: #5288c1;
    color: white;
    border: none;
    font-family: Ubuntu;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

#messages {
    color: white;
}

.chat__window {
    height: 300px;
    overflow: hidden;
}